<div class="container" style="margin-top: 20px;">
    <div class="row-fluid">
        <div id="navbar" class="span3 sidebar">
            <ul id="side-nav" ui-jq="affix" class="nav nav-list affix-top">
                <h4>How it works</h4>
                
                <li><a ng-href="#/how-it-works#goals" data-target="#goals"><i class="icon-chevron-right"></i> Define Your Goals</a></li>
                <li><a ng-href="#/how-it-works#discover" data-target="#discover"><i class="icon-chevron-right"></i>Discover People &amp; Events</a></li>
                <li><a ng-href="#/how-it-works#connect" data-target="#connect"><i class="icon-chevron-right"></i>Make a Connection</a></li>
                <li><a ng-href="#/how-it-works#build" data-target="#build"><i class="icon-chevron-right"></i>Build a Relationship</a></li>
                <li><a ng-href="#/how-it-works#improve" data-target="#improve"><i class="icon-chevron-right"></i>Improve your Game</a></li>
            </ul>
        </div>
        <div class="span9">
            
            
            <img src="/Content/images/Slide4.png" alt="How it works?"/>

            <!-- Find an Event
================================================== -->
            <span id="goals" class="anchor" />
            <section>
                <div class="page-header">
                    <h3>Define Your Goals</h3>
                </div>
                <p>
                    The first step to becoming a great networker is defining your goals. Be very clear about what you want to achieve. 
                    You can't meet the right people without know exactly what you want. 
                </p>
                <p>Don't worry we will help you get you started.</p>
            </section>



            <!-- Find Attendees
================================================== -->
            <span id="discover" class="anchor" />
            <section>
                <div class="page-header">
                    <h3>Discover People &amp; Events</h3>
                </div>
                <p>
                    With your goals in place, we help you to find the right people and events that match your goals.
                </p>
                 <p>
                    We connect events and social networks to give you a good picture of who's in the room. Now you can meet people just right for you.
                </p>
            </section>



            <!-- Review Profiles
================================================== -->
            <span id="connect" class="anchor" />
            <section>
                <div class="page-header">
                    <h3>Make a Connection</h3>
                </div>
                <p>
                    We help you reseach the connection that you want to make, come up with ice breakers and plan the converation in advance.                 
                </p>
                <p>
                    This results in a great converation where you stand out from the crowd. 
                </p>
            </section>



            <!-- Add Comments / Notes
================================================== -->
            <span id="build" class="anchor" />
            <section>
                <div class="page-header">
                    <h3>Build a Relationship</h3>
                </div>
                <p>
                    Your work is not finished when you have met someone. Now it's time to start building a relationship!
                </p>
                <p>
                    We can help by:
                    <ul>
                        <li>Identifing how you can add value</li>
                        <li>Giving you timely reminders, to follow up and stay in touch</li>
                        <li>Alerts when something significant happens</li>
                    </ul>
                </p>
            </section>

             <!-- Add Comments / Notes
================================================== -->
            <span id="improve" class="anchor" />
            <section>
                <div class="page-header">
                    <h3>Improve your game</h3>
                </div>
                <p>
                    So you met your goal, now you need do it all over agian for your next goal, but this this time even better.
                </p>                
                <p>
                    Our tracking and analytics give you an insight on where to adjust your game.
                </p>
            </section>

            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>
<script>
    $(document.body).scrollspy({
        "data-target": "#side-nav",
        "data-offset": 50
    });
</script>
