<div class="row">
    <header class=" banner ">
        <div class="  dark" style="padding-top: 5px; padding-bottom: 5px;">
            <div class="hero-unit" style="background-color: transparent;">
                <div class="container" >
                    <div class="row center">
                        <div class="title offset2 span8">
                            <img src="Content/images/Logo.png" alt="Dry Erase Web Logo" class="logo"></img>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row center">
            <div class="offset3 span6 pull-left">
                <div class="center lead" style="margin-top: 20px;">
                    <p>
                        Dry Erase Web is your digital Dashboard for the web. 
                    </p>
                    <p>
                        We let tag and annotate the internet and share with colleagues and clients.
                    </p>
                </div>
                <a class="btn btn-large btn-primary" target="_top" href="https://chrome.google.com/webstore/detail/dry-erase-web/njlpfiijnimcdpecglmkeneckidiloap">Try it NOW!</a>
            </div>

        </div>
       
    </div>
</div>