<div class="container">
    <div class="fm-panel">
        <h2>Who we are</h2>
        <div class="row-fluid"> 
            <p>Our mission is to make networking easy! Urban Safari started out of a startup weekend in New York City.</p>
            <p>Through several pivots and countless iterations, we are now ready to lauch</p>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="span4"><img style="max-height: 250px;" src="/Content/images/somya.JPG" /></div>                
                <div class="span8">
                    <h4>Somya Jain</h4>
                    <p>
                        <b>Founder/Developer</b> Somya has been building enterprise apps over 13 years. 
                        Over the last two he's gone mobile and built a top 10 iOS app and 4 others. 
                        He is also the organizer of the NYC Mobile .NET Developers Meetup group.
                    </p>
                </div>
              
            </div>
            <div class="span6">
                <div class="span4">
                    <img style="max-height: 250px;" src="/Content/images/sri.JPG" />
                </div>                
                <div class="span8">
                    <h4>Sri Gopalan</h4>
                    <b>Founder/Developer</b> Sri has been in the enterprise consultant for over 12 yrs. 
                    He know all about Big Data, SOA Development, Project Management, and Management Consulting, 
                    He is also a founding member of the OASIS eGov Member Section.
                </div>
            </div>
        </div>
    </div>
</div>